@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  display: flex;
  overflow-x: clip;
}

.placeholder {
  min-height: 0.4em !important;
}

.container-page {
  /* @apply h-screen; */
  width: calc(100vw - 300px);
}

.main-container {
  width: -webkit-fill-available;
}
