@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  display: flex;
}

.aside-container {
  width: 300px;
}

.container-page {
  /* @apply h-screen; */
  width: calc(100vw - 300px);
}

.container-page .header-page {
  height: 70px;
}

.container-body {
}

.main-container {
  width: -webkit-fill-available;
}

.red-container {
  width: 300px;
  min-height: calc(100vh - 70px);
}
